<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Love, Your Friend</title>
    <script src="https://kit.fontawesome.com/b4c3a1cd14.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="stylesheets/style.css" />
</head>

<body>

    <header>
        <img id="logo" src="assets/sitelogo-removebg.png" width="250px">
        <nav id="nav-bar">
            <a href="/" class="nav-item">Home</a>
            <a href="/team" class="nav-item">Team</a>
            <a href="/story" class="nav-item">About</a>
            <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=73MUYTNWDKSFN&amp;source=url" id="nav-donate" class="nav-item" target="_blank">Donate</a>
        </nav>
    </header>

    <main>
        {{{ body }}}
    </main>

    

    <footer>
        <p>&copy 2021  Love, Your Friend</p>
    </footer>

</body>

</html>