<div class="hero">
    <img src="assets/poolherov1.jpeg" alt="two LYF members relax in the pool at the annual pool party and barbecue">
</div>

<div id="mission">
    <p>
        Love, Your Friend is a community based nonprofit organization that provides opportunities for fun and
        friendship
        to those with physical, social or intellectual differences in a natural and personal way.
    </p>
</div>

<div id="video-section">

    <iframe id="tenyear-vid" width="560" height="315" src="https://www.youtube.com/embed/NPWZKiQLhqc"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>

    <div id="video-text">
        <p>
            Our friends with physical, social, or intellectual differences often enter adulthood with a very small
            social circle and no support outside of their family. Love, Your Friend is a place where they can make
            lifelong friendships and socialize with people like them. Our activities are lifelines for our members. When
            the global pandemic of COVID-19 forced us to stop in-person activities, we started hosting weekly activities
            on Zoom. We plan to continue this pattern even as we transition to in-person activities once again. Love,
            Your Friend is needed and so appreciated by our friends, along with their parents and families. Listed below
            are actions you can take to support LYF. We hope that you will join us in our mission.
        </p>
    </div>

</div>

<p class="section-heading">Take Action</p>

<section id="action-container">

    <div id="donate" class="action-item">
        <p class="item-header">Donate</p>

        <p class="item-text">
            By donating to Love, Your Friend, you are helping to host activities, run the website,
            sponsor special projects and more. Thank you very much for your generosity, Friend.
        </p>

        <div class="donate-link-container item-action">
            <a id="donate-link"
                href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=73MUYTNWDKSFN&amp;source=url"
                target="_blank">Donate
                Now!
            </a>
        </div>

    </div>

    <div id="subscribe" class="action-item">
        <p class="item-header">Sign Up</p>

        <p class="item-text">
            Stay in the loop about upcoming activities by subscribing to our newsletter.
        </p>

        <div id="form-div" class="item-action">
            <form
                action="https://loveyourfriend.us9.list-manage.com/subscribe/post?u=27a50a62f8417dbef79800aca&amp;id=c1d848c3fb"
                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                target="_blank" novalidate>
                <div id="input-div">

                    <input type="email" value="" name="EMAIL" class="required email-input email-component"
                        id="mce-EMAIL" placeholder="Enter your email address">


                    <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>

                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                        <input type="text" name="b_27a50a62f8417dbef79800aca_c1d848c3fb" tabindex="-1" value="">
                    </div>
                    <div class="clear">
                        <input type="submit" value="Subscribe to our newsletter" name="subscribe"
                            id="mc-embedded-subscribe" class="subscribe-btn email-component">
                    </div>
                </div>
            </form>
        </div>

    </div>



    <div id="follow" class="action-item">

        <p class="item-header">Follow Us</p>

        <p class="item-text">
            Follow us on social media to stay informed about Love, Your Friend.
        </p>

        <div class="item-action">

            <div class="follow-links">
                <div class="icon">
                    <a href="https://www.facebook.com/Love-your-Friend-142530812501655/" target="_blank">
                        <i class="fab fa-facebook-square fa-3x"></i>
                    </a>
                    <p class="icon-name">Facebook</p>
                </div>

                <div class="icon">
                    <a href="https://www.instagram.com/loveyourfriendaz/" target="_blank">
                        <i class="fab fa-instagram-square fa-3x"></i>
                    </a>
                    <p class="icon-name">Instagram</p>
                </div>
            </div>

        </div>

    </div>

    <div id="follow" class="action-item">

        <p class="item-header">Share</p>

        <p class="item-text">
            If you have a loved one who you think would benefit from LYF, share! We want to grow Love, Your Friend to
            reach more of our friends. Post on social media or simply tell your friends and neighbors about us.
        </p>

        <div class="item-action"></div>

    </div>

    {{!-- <img src="assets/getinvolvedcard.jpeg" class="action-item action-img"> --}}

</section>