<h1>Read our story</h1>

<p>In 2009, after his two-year LDS mission to Argentina and while preparing himself for medical school, Brig Nicoll was
    driving buses for Mesa Public Schools. He enjoyed driving the often-socially-maligned “short bus”. He asked one of
    his passengers, who suffered from Cerebral Palsy (CP), what he most wished he could have. The answer was quickly
    forthcoming – social activities. That interaction planted a seed in Brig’s mind. Soon after, with the help of his
    sweet wife Emily, he launched a group called Love, Your Friend. The name of the group came from how one sweet
    disabled youth (who had recently passed away) finished a letter to Brigham. The intent of Love, Your Friend is to
    create social opportunities for youth and young adults with physical, social and intellectual differences who are
    functional in many ways but whose social circles are otherwise small.

    Love, Your Friend has now been thriving for ten years. Brigham would be quick to point out the significant time and
    love put in by Emily and so many of their friends and family to make the group work. Activities, usually consisting
    of twenty or so disabled young adults and about the same number of able adults and youth, occur nearly every month.
    In total, the group has about 50 members with special needs. The group is populated with friends who deal with a
    variety of disabilities, including but not limited to Down Syndrome, Cerebral Palsy, Muscular Dystrophy, and autism.
    The activities are heaven sent for the group members, whether they are disabled or healthy. The level of inclusion
    and empowerment are a delight to behold. I attend most of them and come close to tears each time.

    At the recent 10th anniversary celebration, which took the form of a dinner, a few people were asked to share their
    thoughts. It allowed for moments of reflection. One father referred to his daughter, who has Down Syndrome and who
    graduated from high school several years ago. He noted that when she occasionally runs into old acquaintances who
    make small talk, they often say they want to get together soon and take her for ice cream. Not intending any harm,
    they are unaware that this man’s sweet daughter sits by the door for the next two days, insisting to her parents
    that her visitors will be there any minute. Emotionally he said, “Love, Your Friend is a group of people who deliver
    on the promise to invite Diana for ice cream”. A mother of a young man with CP said through tears, “These gifts we
    have are heartbroken a lot.” She then went on to say what an important, even critical, role that Love, Your Friend
    plays in her son’s life. So much so that the family has shelved any plans of moving away from the area. Brig then
    spoke about how these years and experiences and relationships are the most “precious and sacred” of his life. Then,
    appropriately, a young man, famous to the group for his fast-strumming, nearly unintelligible, one-key-only,
    ukulele-playing rendition of “You are My Sunshine”, came forward and regaled the audience with that number plus two
    more unannounced and unexpected encores. Happiness further filled an already-very-happy room.

    written by Cory Ellsworth</p>