<p class="page-header">Our Team</p>

<section id="team-section">

    <article class="team-profile">
        <img class="profile-img" src="assets/nicoll-brigham-final.jpeg">
        <div class="bio">
            <p class="name">Brigham Nicoll</p>
            <p class="title">Founder and President</p>
            <p class="description">
                Brigham Nicoll started Love, your Friend in 2009 along with his wife Emily Nicoll. Brigham and Emily
                have led LYF for the past 10 years along with raising 3 children. During this time Brigham completed
                undergraduate studies at Arizona State University and then entered medical school at the University of
                Arizona College of Medicine Phoenix. He has recently completing medical school following a residency in
                General Psychiatry through Maricopa County Hospital and a fellowship program for Child and Adolescent
                Psychiatry. Brigham enjoys spending time with family and friends, hiking, running, reading, anything
                Star Wars and especially being a part of Love, your Friend.
            </p>
            <p>Contact: <span class="contact">brig@loveyourfriend.org</span></p>
        </div>
    </article>

    <article class="team-profile">
        <img class="profile-img" src="assets/cade.JPG">
        <div class="bio">
            <p class="name">Cade Ellsworth</p>
            <p class="title">Executive Director</p>
            <p class="description">
                Cade is a long time member of Love, Your Friend. He joined the team in September 2018, and recently
                became the Executive Director of LYF. Cade loves food, friends, and of course family. He makes sure that
                we reach you on social media and via email. He is also the editor of our newsletter.
            </p>
            <p>Contact: <span class="contact">cade@loveyourfriend.org</span></p>
        </div>
    </article>

    <article class="team-profile">
        <img class="profile-img" src="assets/jacob.jpeg">
        <div class="bio">
            <p class="name">Jacob Nicoll</p>
            <p class="title">Vice-President</p>
            <p class="description">
                Jacob has been a part of Love, Your Friend for many years and is very devoted. He joined the team as
                Vice-President in November 2019. He has felt so much joy in LYF and wants to share these unique
                experiences with everyone who wants to participate.
            </p>
            <p>Contact: <span class="contact">jacob@loveyourfriend.org</span></p>
        </div>
    </article>

</section>