:root {
    --primary-color: #0D96BE;
    --secondary-color: #EC4D23;
    --tertiary-color: #FFDF06;
    --btn-hover-color: #106782;
}

* {
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* styling for header */

#logo {
    padding: 1em;
}

header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#nav-bar {
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#nav-bar a {
    padding: 1.2em;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1.4em;
}

#nav-bar a:hover {
    color: var(--secondary-color);
}

#nav-donate {
    background-color: var(--secondary-color);
    color: white !important;
    border-radius: .5em;
}

#nav-donate:hover {
    background-color: var(--primary-color);
}

/* styling for homepage */

.hero {
    margin: 0;
    background-color: var(--secondary-color);
}

.hero img {
    width: 100%;
}

#mission {
    background-color: var(--secondary-color);
    text-align: center;
    width: 100%;
}

#mission p {
    font-size: 1.7em;
    color: white;
    padding: 1em;
}

.section-heading {
    color: var(--primary-color);
    text-align: center;
    font-size: 2em;
    padding: 1em;
}

#action-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
}

.action-item {
    background-color: var(--primary-color);
    max-width: 22em;
    min-height: 30em;
    margin: auto;
}

.action-img {
    box-shadow: 0 0 .5em rgba(0, 0, 0, .4);
}

.item-header {
    background-color: var(--secondary-color);
    text-align: center;
    color: white;
    font-size: 2em;
    padding: .5em;
    box-shadow: 0 0 .2em rgba(0, 0, 0, .4);
}

.item-text {
    color: white;
    padding: 1em;
    font-size: 1.3em;
    text-align: left;
}

.email {
    border: .5px solid rgba(0, 0, 0, .5);
    border-radius: .5em;
    padding: 1em;
    min-width: 20em;
    margin: 1em;
}

.subscribe-btn {
    border: none;
    padding: .8em;
    font-size: 1em;
    font-weight: bold;
    background-color: var(--primary-color);
    color: white;
    margin: 1em;
    border-radius: .5em;
}

.subscribe-btn:hover {
    background-color: var(--btn-hover-color);
}

.donate-link-container {
    display: flex;
    justify-content: center;
}

#donate-link {
    padding: 1em;
    text-decoration: none;
    color: white;
    background-color: var(--primary-color);
    font-weight: bold;
    font-size: 1.4em;
    border-radius: .5em;
    margin: 1em;
}

#donate-link:hover {
    background-color: var(--btn-hover-color);
}

.social-media {
    display: flex;
    justify-content: center;
}

.icon {
    color: var(--secondary-color);
    margin-left: 1em;
    margin-right: 1em;
}



/* styling for footer */

footer {
    background-color: var(--primary-color);
    padding: 1em;
    text-align: center;
    color: white;
    font-size: 1em;
    font-weight: bold;
}
